body {
    background: #dddddd;
}

#ex_01_2 canvas {
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border: thin inset #aaaaaa;
}

#ex_02_2 canvas {
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border: thin inset #aaaaaa;
}

#ex_03_2 canvas {
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border: thin inset #aaaaaa;
}

#ex_04_2 {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 300px;
    margin-bottom: 50px;
}

#ex_04_2 canvas {
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border: thin inset #aaaaaa;
    display: block;
}

#ex_04_2 #radios {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 10;
    padding: 10px;
}

#ex_05_2 canvas {
    position: relative;
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border: thin inset #aaaaaa;
}

#ex_06_2 canvas {
    position: relative;
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border: thin inset #aaaaaa;
}

#ex_07_2 canvas {
    position: relative;
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border: thin inset #aaaaaa;
}

#ex_08_2 canvas {
    position: relative;
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border: thin inset #aaaaaa;
}

#ex_09_2 canvas {
    position: relative;
    margin: 10px;
    padding: 10px;
    background: #ffffff;
    border: thin inset #aaaaaa;
}